@{
    ViewData["Title"] = "Home Page";
}

<nav class="bg-primary">


</nav>

<div style="color: #0e558b !important; font-family: 'Times New Roman', Times, serif;" class="text-center">
    <!--<h1 class="display-4">Clínica System</h1>-->
</div>
<body style="background-image: url(https://www.goldennepalholidays.com/wp-content/uploads/2020/02/health-1.jpg); ">

</body>